.maven-repo/
.maven-verify-repo/
maven-verify-settings.xml

backend/moodcopilot/target/

frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
frontend/src/**/*.vue.js
frontend/src/**/*.js
!frontend/src/**/*.d.ts
.env
